html {
    height: 100%;
}


body {
    background-color: rgb(33, 33, 33);
    background-image: url(ece-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.videopreview {
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.391);
    text-align: center;
    font-size: 15px;
    word-spacing: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    background-color: rgba(0, 0, 0, 0.637);
    height: 400px;
    text-align: center;
    padding-top: 35px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 100px;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    color: rgb(218, 218, 218);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 84px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}



a {
    color:rgb(16, 165, 220);
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    color: white;
    text-decoration: none;
}
